{% extends "layout.html" %}
<style type="text/css">
	h1{
		text-align: center;
		text-transform: capitalize;
		color: #2E8AE6;
		font-family: 'Oswald', sans-serif;
		padding-top: 5px;
	}

	h3{
		text-align: center;
		font-style: oblique;
		font-size: 130%;
	}

	p{
		padding-left: 75px;
		padding-right:75px;
		font-size: 120%;
	}

	body{
		background-image: url(static/assets/img/2.jpg);
		background-size: 100%;

	}
</style>

{% block content %}

<body>
	<h1>Name of Country's Culture</h1>
	<h3>Social Values</h3>
	<div class="valuesInfo">

		<ul class="valuesList">
			<li>
				<p>Hello these are etiquette details</p>
			</li>
		</ul>
	</div>

	<h3>Food</h3>
	<div class="detailsOnCountry">

		<ul class="foodList">
			<li>
				<p>Name of Country has grea food there is more than enough food to satidfy your needs and wants.</p>
			</li>
		</ul>

	</div>


	<h3>Fashion in Country's Name</h3>
		<div class="fashionInfo">

			<ul class="fashionList">
				<li>
					<p>the fashion details</p>
				</li>	
			</ul>
		</div>		
			</body>

			{% endblock %}

			{% block javascript %}
			<script type="text/javascript"]>

				$(document).ready(function() {

					Parse.initialize("SQjJqeSyhwjwzd0NDiO4zQAqb2SQdLoDtj2EhF3e", "2WmpR2LoC9pDCw5DZ5GByAf7LN7GuAKlRVZVTObF");

					var Country = Parse.Object.extend("Country");
					var retrievedData = new Parse.Query(Country);
					retrievedData.find({
						success: function(country) {
							var i = 0, objId = [];

		while(i < country.length){
			var obj = country[i];
		   		objId = obj.id;
		   		i++;
		   		retrievedData.get(objId ,{
		   				success: function(country) {
		   					var cultureId = country.id;
		   					var culture = country.get("Name")
		   					var cultureValues = country.get("value");
		   					var cultureFood = country.get("food");
		   					var cultureFashion = country.get("fashion");
		   					console.log(culture);
		   					console.log(cultureValues);
		   					console.log(cultureFood);
		   					console.log(cultureFashion);
		   					var countrySearched = "Japan"
							var countrySearchedLowerCased = countrySearched.toLowerCase()
		   					if (countrySearched == culture) {
		   						$(".valuesList").append("<li>"+ cultureValues +"</li>")
		   						$(".foodList").append("<li>"+ cultureFood +"</li>")
		   						$(".fashionInfo").append("<li>"+ cultureFashion+"</li>")
		   					} else {
		   					alert("Sorry no info on your country yet. Please make sure to contrubute.")
		   					}
		   				}, error: function(object, error) {
		   				alert(error)
		   			}
		   		});
		   	}	i = 0;
		   }, error: function(error) {
		   	alert("Error");
		   }

		})

				});

</script>
{% endblock %}












