{% extends "layout.html" %}

{% block content %}


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/ico/favicon.ico">
	<title></title>

	<!-- Bootstrap core CSS -->
	<link href="static/assets1/css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="static/assets1/css/style.css" rel="stylesheet">

	<link href="static/assets1/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href="static/assets1/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>


	<div class="valuesInfo">
		<div id="headerwrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<a href="chat"><img src="static/assets1/chat.png" id="chat"></a>
						<!--<p class="imgDescription">Chat</p>-->
						<h4>THE CULTURE OF:</h4>
						<h1>{{ users_country }}</h1>
					</div>
				</div><!--/row -->
			</div> <!-- /container -->
		</div><!--/headerwrap -->

		<div class="container">

			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-toggle="tab" href="#sectionA">Etiquette</a></li>
				<li><a data-toggle="tab" href="#sectionB">Food</a></li>
				<li><a data-toggle="tab" href="#sectionC">Fashion</a></li>

			</ul>

			<div class="tab-content">

				<div id="sectionA" class="tab-pane fade in active">
					<h3>Values</h3>
					<div class="valuesInfo">
						<div class="row mt special">
							<ul class="valuesList" style="list-style-type: none;">

							</ul> 	
						</div><!-- /row -->
					</div>
				</div>

				<div id="sectionB" class="tab-pane fade">
					<h3>Food</h3>
					<div class="detailsOnCountry">
						<div class="row mt special">
							<ul class="foodList" style="list-style-type: none;">

							</ul>
						</div>
					</div>
				</div>

				<div id="sectionC" class="tab-pane fade">
					<h3>Fashion</h3>
					<div class="detailsOnCountry">
						<div class="row mt special">
							<ul class="fashionList" style="list-style-type: none;">

							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="footerwrap">
			<div class="container">
				<div class="row centered">

				</div>
			</div>

		</div>


	</body>

	{% endblock %}



	{% block javascript %}
	<script type="text/javascript"]>

		$(document).ready(function() {

			Parse.initialize("SQjJqeSyhwjwzd0NDiO4zQAqb2SQdLoDtj2EhF3e", "2WmpR2LoC9pDCw5DZ5GByAf7LN7GuAKlRVZVTObF");


			var Country = Parse.Object.extend("Country");
			var retrievedData = new Parse.Query(Country);
			retrievedData.find({
				success: function(country) {
					var i = 0, objId = [];

					while(i < country.length){
						var obj = country[i];
						objId = obj.id;
						i++;
						retrievedData.get(objId ,{
							success: function(country) {
								var cultureId = country.id;
								var culture = country.get("Name")
								var cultureValues = country.get("value");
								var cultureFood = country.get("food");
								var cultureFashion = country.get("fashion");
								console.log(culture);
								console.log(cultureValues);
								console.log(cultureFood);
								console.log(cultureFashion);

		   					//retrieving the country
		   					var currentCountry = Parse.Object.extend("countrySearched");
		   					var retrievedCountry = new Parse.Query(currentCountry);
		   					retrievedCountry.find({
		   						success: function(countryWorld) {
		   							$(".valuesList").append("<li><p class='col-lg-4 centered si'>"+ cultureValues +"</p></li>")
		   							$(".foodList").append("<li><p class='col-lg-4 centered si'>"+ cultureFood +"</p></li>")
		   							$(".fashionList").append("<li><p class='col-lg-4 centered si'>"+ cultureFashion+"</p></li>")
									}
								});
							}
						});
					}	i = 0;
				}, error: function(error) {
				console.log("Error");
				$("#theCountry").text("Sorry no details on this country yet :you should ask others to contribute at Contribute")
				console.log("Sorry no info on your country yet. Please make sure to contrubute.")
			
			}

		})
	});

</script>
{% endblock %}






