{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>INSTANT - Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets1/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets1/css/style.css" rel="stylesheet">
    <link href="static/assets1/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 	<script>
 	function expandTextarea(id) {
    	var $element = $('.myclass').get(0);  
    	$element.addEventListener('keyup', function() {
        
        this.style.overflow = 'hidden';
        this.style.height = 0;
        this.style.height = this.scrollHeight + 'px';
    	}, false);
	}
	</script>
  </head>

  <body>

	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>HELLO PEOPLE, MY COUNTRY IS</h4>
					<input type="text" class="form-control container" id="culture">
					<h4>WELCOME TO MY CULTURE</h4>
				</div>
			</div><!--/row -->
	    </div> <!-- /container -->
	</div><!--/headerwrap -->
	
	<div class="container">

            <h4 class="question">WHAT DOES YOUR CULTURE VALUE?</h4>
            <textarea id="cultureValues" class="form-control formsize myclass"></textarea>
            	<script>
				expandTextarea('cultureValues');
 				</script>

        	 <h4 class="question">WHAT DO YOU GUY'S EAT?</h4>
            <textarea id="cultureFood" class="form-control formsize myclass"></textarea>
            	<script>
				expandTextarea('cultureFood');
 				</script>

 			<h4 class="question">WHAT ARE THE CURRENT FASHION TRENDS?</h4>
            <textarea id="cultureFashion" class="form-control formsize myclass"></textarea>
            	<script>
				expandTextarea('cultureFashion');
 				</script>
 			<br>
 			<br>
 	</div>
			
			<!--<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="static/assets1//img/portfolio/folio01.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="assets/img/portfolio/folio02.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="assets/img/portfolio/folio03.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="assets/img/portfolio/folio04.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="assets/img/portfolio/folio05.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="assets/img/portfolio/folio06.png" class="img-responsive"></a>
			</div>-->
		</div><!--/row -->
	</div><!--/container -->
	
	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<button class="container btn btn-default navbar-btn margin center-block" id="submitData" type="submit">Learn</button>
			</div>
		</div>
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

$( document ).ready(function() {

Parse.initialize("SQjJqeSyhwjwzd0NDiO4zQAqb2SQdLoDtj2EhF3e", "2WmpR2LoC9pDCw5DZ5GByAf7LN7GuAKlRVZVTObF");
var theCountry = Parse.Object.extend("Country");


$("#submitData").click( function() {
    var culture = $("#culture").val();
    var cultureValues = $("#cultureValues").val();
    var cultureFood = $("#cultureFood").val();
    var cultureFashion = $("#cultureFashion").val();
    
    var citizenContribution = new theCountry();

    citizenContribution.save({Name:culture, value: cultureValues, food:cultureFood, fashion:cultureFashion});
    });
    alert("Submitted!");
});
console.log(culture);
console.log(cultureValues);
console.log(cultureFashion);
console.log(cultureFood);
</script>
{% endblock %}
