{% extends "layout.html" %}

{% block content %}

    <div class="container">
    	<div class="logo">
	    	<img src="static/assets/img/logo.png" width="100" alt="BlackTie.co">
    	</div>
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w">
				<h1>Global Culture<br/>Made Simple</h1>
			</div>
		</div>
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w tooltip-demo">
            <button>Learn More</button>
			</div>
            <div class="col-lg-8 col-lg-offset-2 w tooltip-demo">
            <button href="submitCultureForm.html" id="contribute">Contribute</button>
            </div>
		</div>
    </div><!-- /.container -->
    
    <div class="container">
    	<div class="row w centered">
    		<br>		
    		<div class="col-lg-6 col-lg-offset-3">
    			<p>Come learn about other's cultures today.</p>
    		</div>
    	</div>
    </div>
{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <script>
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
	</script>


    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->

    
    <script type="text/javascript" src="static/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("static/assets/img/bg.jpg", {speed: 500});
    </script>
    {% endblock %}

