{% extends "layout.html" %}


{% block content %}


<head>

  <body>
    <script type="text/javascript"> 
        ChangeIt();
    </script> 

    <div class="container">

      <div class="row centered">
         <div class="col-lg-8 col-lg-offset-2 w">
            <br>
            <h1 class="fonting" id="title">GlobalGenY</h1>
        </div>
    </div>
</div><!-- /.container -->

<div class="container">
   <div class="row w centered">
      <div class="col-lg-6 col-lg-offset-3">
         <p class="fonting">Come learn about other's cultures today.</p>
     </div>
 </div>
</div>


<div class="container input-group input-group-lg" id="changed">
  <input type="text" class="form-control" placeholder="Country" aria-describedby="sizing-addon1">
</div>
<a href="info" type="button" class="container btn btn-default navbar-btn margin center-block" type="submit" id="changed1">Learn</a>

<a href="cultureform" type="button" class="container btn btn-default navbar-btn margin center-block" id="changed1" >Contribute</a>

{% endblock %},

{% block javascript %}
<script type="text/javascript">
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    });

    $.backstretch("static/assets/img/1.jpg", {speed: 500});

    function othername() {
        var localStorage.test = document.getElementById("country").value;
        tellme();
    };

    function tellme() {
        alert("this" + test);
    };

    var totalCount = 6;

    function ChangeIt() {
        var num = Math.ceil( Math.random() * totalCount );
        $.backstretch("static/assets/img/"+num+".jpg", {speed: 500});
    };
</script> 
{% endblock %}


