<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><?php echo "geoip_country_code_by_name(hostname)";?></title>
<style type="text/css">
		h1{
			text-align: center;
			text-transform: capitalize;
			color: #2E8AE6;
			font-family: 'Oswald', sans-serif;
			padding-top: 5px;
		}

		body{
			background-image: url(static/assets/img/2.jpg);
			background-size: 100%;
			}

		</style>
</head>
<body>
	<h1>Name of Countrys Culture</h1>
	<h3>Food</h3>
	<p>Name of Country has grea food there is more than enough food to satidfy your needs and wants.</p>
	<div></div>
	<h3>Social Etiquette</h3>
	<h3>Fashion in Country's Name</h3>
	<p>Fashion in <p>
		



</body>
</html>
