<!DOCTYPE html>
<html>
    <head>
        <title>Character Generator</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="header">
  <div class="center">
    <div class="middle">
      <h1>Blur</h1>
      <span>Fixed header with a triangle indicator</span>
    </div>
  </div>
</div>

<div id="pageHrBorder"> 
  <!-- just simply remove this if not needed -->
  <i class="s"></i>
  <i class="a"></i>
</div>

<div id="pageHr">
  <i class="s"></i>
  <i class="a"></i>
</div>

<div id="page"></div>
    </body>
</html>
